:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

#root{
  display: flex;
  width: 100vw;
  justify-content: center;
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/projetos/image/upload/f_auto/v1715002374/kahoot-control-e/backgrounds/19335271_6085021_p8xqpy.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}
